@model DaXia.WebComAdmin.AdInfoListVM
<!--内容-开始-->
<div id="RightContainer">
    <!--当前-开始-->
    <div class="CtrlDiv">
        <div class="left"><b>系统管理</b> >> 广告管理</div>
        <div class="right">
            <a class="addBtn addDefault" href="/ControlPanelSetting/AdAddEdit">添加广告</a>
            <a href="javascript:;" onclick="location.replace(location.href);" class="refreshBtn refreshDefault" style="margin-right: 0px;">刷新本页</a>
        </div>
        <div class="clearboth"></div>
    </div>
    <!--当前-结束-->
    <!--筛选-开始-->
    <div class="FilterDiv">
        <table class="fTable" cellspacing="0">
            <tr>
                <td class="itemTD">广告名称：</td>
                <td class="itemSP"></td>
                <td>
                    <input type="button" value="搜 索" id="SearchBtn" class="searchBtn searchDefault" onclick="Search()" />
                </td>
            </tr>
        </table>
    </div>
    <!--筛选-结束-->
    <div class="DataDiv">
        <div class="div100 m10">
            <table class="dataTable" cellspacing="1">
                <thead>
                    <tr>
                        <th style="width: 40px;">序号</th>
                        <th style="width: 80px;">广告名称</th>
                        <th style="width: 150px;">跳转地址</th>
                        <th style="width: 150px;">展示图片</th>
                        <th style="width: 40px;">排序</th>
                        <th style="width: 100px;">创建时间</th>
                        <th style="width: 80px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @{int serialNo = 0;}
                    @foreach (var item in Model.itemList)
                    {
                        serialNo++;
                        <tr>
                            <td>@serialNo</td>
                            <td>@item.AdName</td>
                            <td>@item.AdUrl</td>
                            <td><img width="50" height="50" src="@item.AdImage" /></td>
                            <td>@item.Sort</td>
                            <td>@item.CreationTime</td>
                            <td>
                                <a href="/ControlPanelSetting/AdAddEdit?id=@item.ID" class="AClass">删除</a>
                                <a href="javascript:deleteAd(@item.ID)" class="AClass">删除</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("PartialPaper", Model.page)
    </div>
</div>
<!--内容-结束-->
@section scripts
{
    <script type="text/javascript">
        //搜索
        function Search() {
        }

        //禁用/启用管理
        function loclOrUnlock() {
        }

        //删除管理
        function deleteAd(id) {
            $.ajax({
                type: "POST",
                url: "/ControlPanelSetting/_ajaxDeleteAd",
                data: { id: id },
                success: function (data) {
                    alert(data);
                    location.reload();
                }
            });
        }
    </script>
}

