@model DaXia.WebComAdmin.SenderListVM
@using DaXia.WebFrameWork

<!--内容-开始-->
<div id="RightContainer">
    <!--当前-开始-->
    <div class="CtrlDiv">
        <div class="left"><b>会员管理</b> >> 配送员管理</div>
        <div class="right">
            <a class="addBtn addDefault" href="@SiteUrls.Instance.M_SenderAddAndEdit()">添加配送员</a>
            <a href="javascript:;" onclick="location.replace(location.href);" class="refreshBtn refreshDefault" style="margin-right: 0px;">刷新本页</a>
        </div>
        <div class="clearboth"></div>
    </div>
    <!--当前-结束-->
    <!--筛选-开始-->
    <div class="FilterDiv">
        <table class="fTable" cellspacing="0">
            <tr>
                <td class="itemTD">编号：</td>
                <td class="itemSP">
                    <input name="userNo" id="userNo" type="text" class="smalltxt" onkeydown="if(event.keyCode==13){document.getElementById('SearchBtn').click();return false;}" />
                </td>
                <td class="itemTD">姓名：</td>
                <td class="itemSP">
                    <input name="userName" id="userName" type="text" class="smalltxt" onkeydown="if(event.keyCode==13){document.getElementById('SearchBtn').click();return false;}" />
                </td>
                <td>
                    <input type="button" value="搜 索" id="SearchBtn" class="searchBtn searchDefault" onclick="Search()" /></td>
            </tr>
        </table>
    </div>
    <!--筛选-结束-->
    <div class="DataDiv">
        <div class="div100 m10">
            <table class="dataTable" cellspacing="1">
                <thead>
                    <tr>
                        <th style="width: 40px;">序号</th>
                        <th style="width: 80px;">编号</th>
                        <th style="width: 100px;">用户名</th>
                        <th style="width: 100px;">姓名</th>
                        <th style="width: 100px;">手机号码</th>
                        <th style="width: 80px;">状态</th>
                        <th style="width: 80px;">支持校外配送</th>
                        <th style="width: 150px;">创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>                    
                    @{int serialNo = 0;}
                    @foreach (var item in Model.itemList)
                    {
                        string displayIsOut = item.IsOut == 1 ? "是" : "否";
                        serialNo++;
                        <tr>
                            <td>@serialNo</td>
                            <td>@item.Id</td>
                            <td>@item.UserName</td>
                            <td>@item.RealName</td>
                            <td>@item.Mobile</td>
                            <td>@item.Status</td>
                            <td>@displayIsOut</td>
                            <td>@item.CreationTime</td>
                            <td>
                                <a href="javascript:Lock('')" class="AClass">禁用</a>
                                <a href="javascript:UnLock('')" class="AClass">修改</a>
                                <a href="javascript:UnLock('')" class="AClass">配送学校</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("PartialPaper",Model.page)
        @*@Html.Partial("PartialPaper", Utility.pagedefault)*@
    </div>
</div>
<!--内容-结束-->
@section scripts
{
    <script type="text/javascript">
        function Search() {

        }
    </script>
}



