@model DaXia.WebComAdmin.ProductVM

<!--内容-开始-->
<div id="RightContainer">
    <!--当前-开始-->
    <div class="CtrlDiv">
        <div class="left">
            <b>产品管理</b>>>添加产品
        </div>
        <div class="right">
            <a href="/ControlPanelProduct/Products" class="backBtn backDefault" style="margin-right: 0px;">返回列表</a>
        </div>
        <div class="clearboth"></div>
    </div>
    <!--当前-结束-->
    <!--标签-开始-->

    <div class="TabDiv">
        <table class="tabTable" cellspacing="0">
            <tr>
                <td class="itemTD cur">产品信息</td>
            </tr>
        </table>
    </div>
    <!--标签-结束-->
    <!--表单-开始-->
    @using (Html.BeginForm("ProductAddEdit", "ControlPanelProduct", FormMethod.Post, new { onsubmit = "return checkInput()" }))
    {
        @Html.HiddenFor(model => model.Id)
        <div class="AddEditDiv">
            <table class="addTable ItemTable" cellspacing="2">
                <tr>
                    <td class="ltd">类别</td>
                    <td class="rtd">
                        @Html.DropDownListFor(model => model.TypeId, Model.Types)
                        <span class="f12 Red">* 必填</span>
                    </td>
                </tr>                
                <tr>
                    <td class="ltd">名称</td>
                    <td class="rtd">
                        @Html.TextBoxFor(model => model.Name)
                        <span class="f12 Red">* 必填</span>
                    </td>
                </tr>
                <tr>
                    <td class="ltd">封面图</td>
                    <td class="rtd">
                        @Html.TextBoxFor(model => model.Image)
                        <input type="button" id="image_bt" value="选择图片" />（网络图片 + 本地上传）
                        <span class="f12 Red">* 必填</span>
                    </td>
                </tr>
                <tr>
                    <td class="ltd">详情摘要</td>
                    <td class="rtd">
                        @Html.TextAreaFor(model => model.Summery)
                        <span class="f12 Red">* 必填</span>
                    </td>
                </tr>
                <tr>
                    <td class="ltd">详情</td>
                    <td class="rtd">
                        <textarea id="Details" name="Details" cols="100" rows="8" style="width:700px;height:200px;"></textarea>
                        <span class="f12 Red">* 必填</span>
                    </td>
                </tr>
                <tr>
                    <td class="ltd">实销数量</td>
                    <td class="rtd">
                        @Html.TextBoxFor(model => model.SalesCount)
                        <span class="f12 Red">* 必填</span>
                    </td>
                </tr>
                <tr>
                    <td class="ltd">显示销量</td>
                    <td class="rtd">
                        @Html.TextBoxFor(model => model.FakeSalesCount)
                    </td>
                </tr>
                <tr>
                    <td class="ltd">成本价</td>
                    <td class="rtd">
                        @Html.TextBoxFor(model => model.StockPrice)
                    </td>
                </tr>
                <tr>
                    <td class="ltd">销售价</td>
                    <td class="rtd">
                        @Html.TextBoxFor(model => model.MarketPrice)
                    </td>
                </tr>
                <tr>
                    <td class="ltd">库存</td>
                    <td class="rtd">
                        @Html.TextBoxFor(model => model.Stock)
                    </td>
                </tr>
                <tr>
                    <td class="ltd">技术规格</td>
                    <td class="rtd">
                        @Html.TextAreaFor(model => model.Specifications)
                    </td>
                </tr>
                <tr>
                    <td class="ltd">视频链接</td>
                    <td class="rtd">
                        @Html.TextAreaFor(model => model.VideoLink)
                    </td>
                </tr>
                <tr>
                    <td class="ltd">排序</td>
                    <td class="rtd">
                        @Html.TextBoxFor(model => model.Sort)
                    </td>
                </tr>
            </table>
            <table class="addTable" cellspacing="2">
                <tr>
                    <td class="ltd"></td>
                    <td class="rtd">
                        <input type="submit" class="submitBtn submitDefault" value="确 定" />
                        <input type="reset" class="cancelBtn cancelDefault" value="重 置" />
                    </td>
                </tr>
            </table>
        </div>
    }
    <!--表单-结束-->
</div>
<!--内容-结束-->
@section scripts
{
    <link rel="stylesheet" href="/Scripts/kindeditor-4.1.10/themes/default/default.css" />
    <link rel="stylesheet" href="/Scripts/kindeditor-4.1.10/plugins/code/prettify.css" />
    <script charset="utf-8" src="/Scripts/kindeditor-4.1.10/kindeditor.js"></script>
    <script charset="utf-8" src="/Scripts/kindeditor-4.1.10/lang/zh_CN.js"></script>
    <script charset="utf-8" src="/Scripts/kindeditor-4.1.10/plugins/code/prettify.js"></script>
    <script type="text/javascript">

        @Html.Raw(ViewBag.JS)

        KindEditor.ready(function (K) {
            editor1 = K.create('#Details', {
                cssPath: '/Scripts/kindeditor-4.1.10/plugins/code/prettify.css',
                uploadJson: '/Scripts/kindeditor-4.1.10/asp.net/upload_json.ashx',
                fileManagerJson: '/Scripts/kindeditor-4.1.10/asp.net/file_manager_json.ashx',
                allowFileManager: true
            });
            prettyPrint();

            //内容赋值
            editor1.html('@Html.Raw(Model.Details)');

            //正面图片
            var img = K.editor({
                allowFileManager: true,
                cssPath: '/Scripts/kindeditor-4.1.10/plugins/code/prettify.css',
                uploadJson: '/Scripts/kindeditor-4.1.10/asp.net/upload_json.ashx',
                fileManagerJson: '/Scripts/kindeditor-4.1.10/asp.net/file_manager_json.ashx'
            });

            K('#image_bt').click(function () {
                img.loadPlugin('image', function () {
                    img.plugin.imageDialog({
                        imageUrl: K('#Image').val(),
                        clickFn: function (url, title, width, height, border, align) {
                            K('#Image').val(url);
                            img.hideDialog();
                        }
                    });
                });
            });
        });

        function checkInput() {
            if ($('#Name').val() == '') {
                alert('用户名不能为空');
                return false;
            }

            showWorking();

            return true;
        }
    </script>
}
