@{
    Layout = null;
}
@model DaXia.WebComAdmin.Front.RewardRecordListVM

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的夺宝记录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="stylesheet" href="/css/front/common.css" />
    <link rel="stylesheet" href="/css/front/style.css" />
</head>
<body>
    <!-- viewport -->
    <div class="viewport">
        <div class="personalCenter">
            <div class="withdrawalsOne1 clearfix">
                <ul class="myPerCen clearfix">
                    <li class="active"><a href="javascript:;">已揭晓</a></li>
                    <li><a href="javascript:;">进行中</a></li>
                </ul>
            </div>
            <!-- myPersonalCenter -->
            <div class="myPersonalCenter">
                <div class="myPerCenCont" style="display:block;">
                    @foreach (var item in Model.HaveDoneList)
                    {
                        <div class="newsAnnounced clearfix">

                            <div class="imgLeft">
                                <a href="/FrontProduct/Product?id=@item.productId">
                                    <img src="@item.productImg">
                                </a>
                            </div>
                            <div class="imgRight">
                                <p>（@item.processStr）@item.productName</p>
                                <p><span class="redColor">￥:@item.marketPrice</span></p>
                                <p>
                                    获得者：
                                    <a href="/FrontPerson/RewardRecords?openId=@item.openId" style="color: #66CCFF;">@item.userName</a>
                                </p>
                                <p>揭晓时间：@item.rewardDate</p>
                                @if (item.bindAddress)
                                {
                                    <p><a href="/FrontPerson/AddressBind?pId=@item.rewardId">发货地址：已绑定(点击可修改)</a></p>
                                }
                                else
                                {
                                    <p><a href="/FrontPerson/AddressBind?pId=@item.rewardId">发货地址：未绑定(点击绑定)</a></p>
                                }
                            </div>
                        </div>
                    }
                </div>
                <div class="myPerCenCont">
                    @foreach (var item in Model.ProcessingList)
                    {
                        <div class="newsAnnounced clearfix">
                            <a href="">
                                <div class="section seckill clearfix">
                                    <div class="bgimg">
                                        <a href="/FrontProduct/Product?id=@item.productId">
                                            <img src="@item.productImg" />
                                        </a>
                                        <span class="seckill">@*<img src="images/icon-seckill.png">*@</span>
                                        <div class="number">
                                            <div class="strip">
                                                <span class="strip-color" style="width:@item.processedPercent;"></span>
                                            </div>
                                            <span class="textleft">已参与：@item.haveActNumbers</span>
                                            <span>总需人次：@item.actNumbers</span>
                                            <span class="textright">剩余：@item.remainActNumbers</span>
                                        </div>
                                    </div>
                                    <p class="titleText">
                                        <a href="/FrontProduct/Product?id=@item.productId">@item.productName</a>
                                    </p>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- end viewport -->
    <!-- footer -->
    @Html.Partial("_FrontBottom", 4)
    <!-- end footer -->
    <script src="/Scripts/js/zepto.js"></script>
    <script src="/Scripts/js/gmu.js"></script>
    <script src="/Scripts/js/slide-touch.js"></script>
</body>
</html>
